<% provide(:title, "login") %>
<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, "メールアドレス", class: "label-login" %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード", class: "label-login" %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.label :remember_me, "ログイン情報を記憶する", class: "checkbox inline checkbox-login" %>
          <%= f.check_box :remember_me, id: "remember-me" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary btn-block btn-login" %>
        <%= link_to "LINEでログイン", user_line_omniauth_authorize_path, class: "btn btn-success btn-block btn-line-login" %>
      </div>
    <% end %>

    <p>
      ユーザー登録がまだの場合は<%= link_to "こちら", new_user_registration_path %>
    </p>
  </div>
</div>
