<%= form_with(model: sale, local: true) do |form| %>
  <div>
    <%= form.label :sales_date %>
    <%= form.date_select :sales_date %>
  </div>

  <div>
    <%= form.label :customer %>
    <%= form.text_field :customer %>
  </div>

  <div>
    <%= form.label :content_id %>
    <%= form.collection_select :content_id, current_user.contents, :id, :name, include_blank: true %>
  </div>

  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.label :note %>
    <%= form.text_field :note %>
  </div>

  <div>
    <%= form.label :payment_method %>
    <%= form.select :payment_method, ['現金', '銀行振込', '電子マネー', 'その他'] %>
  </div>

  <div>
    <%= form.submit '保存' %>
  </div>
<% end %>
