<% provide(:title, 'New Sale') %>

<h1>売上データの新規作成</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @sale, url: user_content_sales_path(current_user), local: true) do |f| %>
      <%= render 'shared/error_messages', object: @sale %>

      <%= f.label :sales_date, class: "label-form" %>
      <br>
      <%= f.date_select :sales_date, class: "form-control" %>日

      <br>
      <br>
      <%= f.label :customer, class: "label-form" %>
      <%= f.text_field :customer, class: "form-control" %>

      <br>
      <%= f.label :content_id, class: "label-form" %>
      <br>
      <%= f.collection_select :content_id, current_user.contents, :id, :name, include_blank: true, class: "form-control" %>

      <% if !@user_contents_exist %>
        <p class="text-danger">　　　※選択肢がありません。</p>
        <p class="text-danger">　　　　まず【 案件内容の管理 】ページにて、</p>
        <p class="text-danger">　　　　１つ以上の案件内容を作成してください。</p>
      <% end %>
      
      <br>
      <br>
      <%= f.label :amount, class: "label-form" %>
      <%= f.number_field :amount, class: "form-control text-right", step: 1, min: 0, style: "width: 160px;" %>

      <br>
      <%= f.label :note, class: "label-form" %>
      <%= f.text_field :note, class: "form-control" %>

      <br>
      <%= f.label :payment_method, class: "label-form" %>
      <br>
      <%= f.select :payment_method, ['現金', '銀行振込', '電子マネー', 'その他'], class: "form-control" %>

      <br>
      <br>
      <br>
      <%= f.submit '新規作成', class: "btn btn-lg btn-primary btn-form" %>
      　<%= link_to 'キャンセル', user_content_sales_path(current_user), class: "btn btn-lg btn-default" %>
    <% end %>
  </div>
</div>
